*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    list-style: none;
}

html,body{
    height: 100%;
    width: auto;
}


.topbar{
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #071c4b;
    padding: 28px 12%;
    transition: all .50s ease;
}

.logo{
    padding-top: 20px;
}


header{
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease;
}

.header{
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 28px 12%;
    position: relative;
}

.menutop{
    width: 80%;
    padding-top: 25px;
    height: auto;
    text-align: right;
    position: relative;
    font-family: 'Roboto Slab' serif;
    font-weight: 800;
}

.menu a{
    color:#e6dcdc;
    text-decoration: none;
    font-weight: bold;
    margin-right: 25px;
    flex-direction: row;
}

.pagina#serviços h1{
    display: flex;
    justify-content: left;
    align-items: right;
    font-weight: 800;
    font-size: 80px;
    font-family: 'Roboto Slab', serif;
    position: absolute;
}


.textserviços a{
    color: #000000;
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
    display: flex;
    justify-content: flex-start;
}

.faletxt{
    margin: 0, 0, 0, 0;
    display: flex;
    font-size: 40px;
    float: left;
    padding-left: 10%;
    text-align: right;
    color: white;
}

.formulario{
    float: right;
    display: flex;
    padding-right: 10%;
}

input[type=text],[type=email]{
    width: 550px;
    height: 60px;
    border-radius: 4px;
    padding-bottom: 30px;
    padding-left: 5px;
    border: 1px solid black;
    margin-bottom: 0px;
}


input[type=tel]{
    float: left;
    width: 220px;
    height: 60px;
    border-radius: 4px;
    border: 1px solid black;
    padding-left: 5px;
    padding-bottom: 30px;
    margin: 0, 0, 0, 0;
}


input[type=assunto]{
    float: right;
    width: 310px;
    height: 60px;
    border-radius: 4px;
    border: 1px solid black;
    padding-left: 5px;
    padding-bottom: 30px;
    margin: 0, 0, 0, 0;
}


input[textarea]{
    width: 550px;
    height: 80px;
    border-radius: 4px;
    box-sizing: border-box;
    padding-bottom: 50px;
    padding-left: 5px;
    border: 1px solid black;
}


button{
    background-color: white;
    color: #071c4b;
    border: 1px solid black;
    display: inline-block;
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    width: 550px;
    cursor: pointer;
}


.contato h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}

.contato h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-style: italic;
}

.redes{
    position: absolute;
    background-color: transparent;
    justify-self: center;
    align-items: center;
}

.textserviços{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    padding-left: 15%;
}

.nossosserviços{
    position: relative;
    padding-left: 15%;
    color: white;
}

.grid-item1{
    background-color: #80a9c0;
    color: #000000;
    border: 1px solid black;
    font-weight: 800;
    width: 200px;
    height: 500px;
}

.grid-item2{
    background-color: #80a9c0;
    color: #000000;
    border: 1px solid black;
    font-weight: 800;
    width: 200px;
    height: 500px;
}

.grid-item3{
    background-color: #80a9c0;
    color: #000000;
    border: 1px solid black;
    font-weight: 800;
    width: 200px;
    height: 500px;
}

.grid-item4{
    background-color: #80a9c0;
    color: #000000;
    border: 1px solid black;
    font-weight: 800;
    width: 200px;
    height: 500px;
}

.grid-item5{
    background-color: #56ae95;
    color: #000000;
    border: 1px solid black;
    font-weight: 800;
    width: 200px;
    height: 500px;
}

.grid{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50%;
    margin: 0, 0, 0, 0;
    column-gap: 15px;
}

.block{
    column-gap: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.quemsomos{
    display: flex;
}

.quemsomos h1{
    color: white;
    font-weight: 800;
    font-size: 50px;
}
