*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    list-style: none;
}

html,body{
    height: 100%;
    width: auto;
}


.topbar{
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #071c4b;
    padding: 28px 12%;
    transition: all .50s ease;
}

.logo{
    padding-top: 20px;
}


header{
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease;
}

.header{
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 28px 12%;
    position: relative;
}

.menutop{
    width: 80%;
    padding-top: 25px;
    height: auto;
    text-align: right;
    position: relative;
    font-family: 'Roboto Slab' serif;
    font-weight: 800;
}

.menu a{
    color:#e6dcdc;
    text-decoration: none;
    font-weight: bold;
    margin-right: 25px;
    flex-direction: row;
}

.botaoserviços{
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    column-gap: 10px;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    text-decoration: none;
}


.botaoserviços1{
    background-color: #fafafc;
    color: #ffffff;
    border: 1px solid black;
    font-weight: 400;
    transform: translateX(-50%) translateY(-0%);
    width: 200px;
    height: 150px;
    text-align: center; 
}

.botaoserviços2{
    background-color: #272727;
    color: #ffffff;
    border: 1px solid black;
    font-weight: 400;
    transform: translateX(-50%) translateY(-0%);
    width: 200px;
    height: 150px;
    text-align: center; 
}

.botaoserviços3{
    background-color: #fafafc;
    color: #ffffff;
    border: 1px solid black;
    font-weight: 400;
    transform: translateX(-50%) translateY(-0%);
    width: 200px;
    height: 150px;
    text-align: center; 
}

.botaoserviços4{
    background-color: #272727;
    color: #ffffff;
    border: 1px solid black;
    font-weight: 400;
    transform: translateX(-50%) translateY(-0%);
    width: 200px;
    height: 150px;
    text-align: center; 
}

.botaoserviços5{
    background-color: #fafafc;
    color: #ffffff;
    border: 1px solid black;
    font-weight: 400;
    transform: translateX(-50%) translateY(-0%);
    width: 200px;
    height: 150px;
    
}


.faletxt{
    margin: 0, 0, 0, 0;
    display: flex;
    font-size: 40px;
    float: left;
    padding-left: 10%;
    text-align: right;
}

.formulario{
    float: right;
    display: flex;
    padding-right: 10%;
}

input[type=text],[type=email]{
    width: 550px;
    height: 60px;
    border-radius: 4px;
    padding-bottom: 30px;
    padding-left: 5px;
    border: 1px solid black;
    margin-bottom: 0px;
}


input[type=tel]{
    float: left;
    width: 220px;
    height: 60px;
    border-radius: 4px;
    border: 1px solid black;
    padding-left: 5px;
    padding-bottom: 30px;
    margin: 0, 0, 0, 0;
}


input[type=assunto]{
    float: right;
    width: 310px;
    height: 60px;
    border-radius: 4px;
    border: 1px solid black;
    padding-left: 5px;
    padding-bottom: 30px;
    margin: 0, 0, 0, 0;
}


input[textarea]{
    width: 550px;
    height: 80px;
    border-radius: 4px;
    box-sizing: border-box;
    padding-bottom: 50px;
    padding-left: 5px;
    border: 1px solid black;
}


button{
    background-color: #071c4b;
    color: #ffffff;
    border: 1px solid black;
    display: inline-block;
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    width: 550px;
    cursor: pointer;
}

h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #738677;
    background-color: rgb(179, 245, 236);
    font-size: 12px;
    position: fixed;
}

.social-media{
    position: relative;
    background-color: #f1f1f1;
    justify-self: center;
}

.topbar.logo{
    float: left;
}

.topbar.menu{
    float: right;
}

.divisao{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 15%;

}

.contato#formulario{
    display: flex;
    flex-direction: row;
}

.fotoreuniao{
    padding-left: 300px;
}