*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    list-style: none;
}

html,body{
    height: 100%;
    width: auto;
}

div.bloco{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.topbar{
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #ffffff;
    padding: 28px 12%;
    transition: all .50s ease;
}

.logo{
    padding-top: 0px;
}

header{
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease;
}

.header{
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 28px 12%;
    position: relative;
}

.menutop{
    width: 80%;
    padding-top: 25px;
    height: auto;
    text-align: right;
    position: relative;
    font-family: 'Roboto Slab' serif;
    font-weight: 800;
}

.menu a{
    color:#163e3d;
    text-decoration: none;
    font-weight: 800;
    margin-right: 25px;
    flex-direction: row;
    font-size: 20px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #022221;
    height: 250px;
}

.contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contato h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    color: #ffffff;
}

.contato h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-style: italic;
    color: #ffffff;
}

.contato a{
    background-color: transparent;
    display: flex;
    flex-direction: row;
}

.redes{
    margin: 20px;
}

.bloco{
    display: flex;
    justify-content: center;
    align-items: center;
}

.quemsomos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.txtsomos{
    text-align: start;
    color: #ffffff;
    font-size: 50px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    text-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    padding-top: 200px;
}

.paragrafo-somos{
    max-width: 800px;
    text-align: start;
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    line-height: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}

